<h1>Listing Funeral Events for <%= link_to @memory.full_name, @memory %></h1>

<table width="100%">
  <tr>
    <th>Where</th>
    <th>When</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @funerals.each do |funeral| %>
  <tr>
    <td><%= funeral.where %></td>
    <td><%= funeral.when %></td>
    <td><%= link_to 'Show', memory_funeral_path(@memory, funeral) %></td>
    <td><%= link_to 'Edit', edit_memory_funeral_path(@memory, funeral) %></td>
    <td><%= button_to 'Destroy', memory_funeral_path(@memory, funeral), :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Funeral', new_memory_funeral_path %>
