<p id="notice"><%= notice %></p>

<% if @correct_user %>
	<div style="float:right;padding:10px;width:200px;">
		You are the owner of this funeral.<br />
		<%= link_to 'Edit this Funeral', edit_memory_funeral_path(@memory, @funeral) %>
	</div>
<% end %>

<p>
  <b>Who:</b>
  <%= link_to @funeral.memory.full_name, @funeral.memory %>
</p>

<p>
  <b>Where:</b>
  <%= @funeral.where %>
</p>

<p>
  <b>When:</b>
  <%= @funeral.when %>
</p>

<p>
  <b>Address1:</b>
  <%= @funeral.address1 %>
</p>

<p>
  <b>Address2:</b>
  <%= @funeral.address2 %>
</p>

<p>
  <b>City:</b>
  <%= @funeral.city %>
</p>

<p>
  <b>State:</b>
  <%= @funeral.state %>
</p>

<p>
  <b>Postal code:</b>
  <%= @funeral.postal_code %>
</p>

<p>
  <b>Phone number:</b>
  <%= @funeral.phone_number %>
</p>

<p>
  <b>Instructions:</b>
  <%= @funeral.instructions %>
</p>



