<p id="notice"><%= notice %></p>

<% if @correct_user %>
	<div style="float:right;padding:10px;width:200px;">
		You are the owner of this memory.<br />
		<%= link_to 'Edit this Memory', edit_memory_path(@memory) %>
		<br /><br />
		<%= link_to 'Manage Funeral Events', memory_funerals_path(@memory) %>
	</div>
<% end %>

<h1><%= @memory.full_name %></h1>
<%= @memory.lived %>
<br />
<%= image_tag @memory.image.url(:medium) %>
<br /><br />
<% if @memory.epitaph %>
<em><%= @memory.epitaph %></em>
<% end %>
<br /><br />
<h5>About <%= @memory.first_name %></h5>
<p>
  <%= @memory.description %>
</p>
<br /><br />
<% if @memory.show_funeral && @funerals %>
	<h5>Funeral Events</h5>
	<%= render :partial => "funeral", :collection => @funerals, :as => :funeral %>
	<br /><br />
<% end %>

<h5>Eulogies</h5>
<% if @eulogies %>
	<%= render :partial => "eulogy", :collection => @eulogies, :as => :eulogy  %>
<% else %>
	<em>There are no eulogies for this memory.</em>
<% end %>
<br />
<h5>Create Your Eulogy</h5>
<% if signed_in? %>
	<%= render :file => "eulogies/new" %>
<% else %>
	<em>You must be logged in to post a eulogy</em>. <%= link_to "Log In", login_path %>
<% end %>
