<p id="notice"><%= notice %></p>

<h1><%= @memory.full_name %></h1>
<%= @memory.lived %>
<br />
<% if @memory.epitaph %>
<em><%= @memory.epitaph %></em>
<% end %>
<br />
<h5>About <%= @memory.first_name %></h5>
<p>
  <%= @memory.description %>
</p>


<%= link_to 'Edit', edit_memory_path(@memory) %> |
<%= link_to 'Back', memories_path %>
